.bottomBar
{
    width:auto;
    height:80px;
    background-color:#ffffff;
    
    
    position:absolute;
    bottom:4dvb;
    display:flex;
    border-radius:10px;
    right:50px;
    filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
    
    
}





.controlButton
{
    margin:10px;
   
border:none;
}

.startButton
{
    font-size:1.5em;
   
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    width:100px;
    margin-left:5px;
    background: rgb(123, 156, 195);
    color:white;
}


.startButton:hover
{
    cursor:pointer;
    background:rgba(148,187,233,1);

}

.stopButton
{
    font-size:1.5em;
    margin-right:5px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    width:100px;

    background: rgba(238,174,202,1);

    color:white;
    padding:5px;
}
